html{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
	
body {
  color: #878787;
  font-family: Roboto, sans-serif;
  left: 0;
  line-height: 1.35;
  margin: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  transition: left 0.3s ease-in-out;
}

body.panel-open {
  left: -250px;
}

.container {
  min-height: 1000px;
  overflow: scroll;
}

a {
  outline: 0;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  
}

header {
  color: #fff;
  padding: 3em 5%;
  position: relative;
  width: 90%;
  z-index: 2;
}

.menu-toggle {
  cursor: pointer;
  float: right;
  font-size: 1.4rem;
  transition: all 0.3s ease-in-out;
}

.menu-toggle.open {
  opacity: 0.5;
}

.menu-toggle-grippy {
  border-bottom: 4.5px solid #fff;
  border-top: 4.5px solid #fff;
  float: left;
  line-height: 0;
  margin-right: 0.3em;
  padding: 4px 0;
  text-indent: -999em;
  width: 35px;
}
.menu-toggle-grippy:after {
  background: #fff;
  content: "";
  display: block;
  height: 5px;
}

.menu-toggle-label {
  float: left;
  font-weight: 700;
  height: 25px;
  letter-spacing: 1px;
  line-height: 25px;
  text-transform: uppercase;
}

.hidden-panel {
  background: #333;
  color: #666;
  font-size: 0.875rem;
  height: 100%;
  position: absolute;
  right: -250px;
  top: 0;
  width: 250px;
}
.hidden-panel a {
  color: #999;
  transition: color 0.3s ease-out;
}
.hidden-panel a:hover {
  color: #fff;
}

.hidden-panel-close {
  color: #666;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 3.7em;
  transition: color 0.3s ease-in-out;
}
.hidden-panel-close:hover {
  color: #fff;
}

.hidden-panel-content {
  padding: 3.65em 10%;
}

.hidden-panel-nav {
  border-bottom: 1px solid #666;
  border-bottom: 1px solid rgba(102, 102, 102, 0.25);
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  text-transform: uppercase;
}
.hidden-panel-nav h2 {
  letter-spacing: 1px;
  margin-bottom: 1em;
}

.hidden-panel-nav ul {
  list-style: none;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.hidden-panel-nav li {
  padding: 0.25em 0;
  font-size: 1.2rem;
}

.hidden-panel-text {
  line-height: 1.5;
  font-size: 1rem;
}
.hidden-panel-text p {
  margin-bottom: 1.5em;
}
.hidden-panel-text p:last-child {
  margin-bottom: 0;
}

.hidden-panel-credits {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
}
.hidden-panel-credits span {
  display: block;
  margin-bottom: 0.15em;
}

.banner {
  background: linear-gradient(#a5e084, #5a97e8), #a5e084;
  box-sizing: border-box;
  height: 100%;
  overflow: scroll;
  left: 0;
  padding: 5em 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
  
}
.banner h1 {
  color: #fff;
  font-family: "Dancing Script";
  font-size: 4.375rem;
  margin-top: 1em;
  margin-bottom: 1em;
}
.banner h2 {
  color: #fff;
  font-family: "Dancing Script";
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 auto;
  width: 50%;
}

.container:before, header:before, .menu-toggle:before, .container:after, header:after, .menu-toggle:after {
  content: "";
  display: table;
}

.container:after, header:after, .menu-toggle:after {
  clear: both;
}
/*
.banner a
{
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0 auto;
}

#chart_navigation_bar
{
	width: 100%;
}*/